// sidebar
$menuText:var(--el-text-color-primary);
$menuActiveText:#fff;
$subMenuActiveText: var(--el-text-color-primary);

$menuBg:var(--el-bg-color);
$menuHover:rgba(255,255,255,0.15);

$subMenuBg: var(--el-bg-color);
$subMenuHover:rgba(255,255,255,0.15);

$sideBarWidth: 210px;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}